apiVersion: apps/v1
kind: Deployment
metadata:
  name: lumafin-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lumafin-redis
  template:
    metadata:
      labels:
        app: lumafin-redis
    spec:
      containers:
      - name: redis
        image: redis:7
        ports:
        - containerPort: 6379
---
apiVersion: v1
kind: Service
metadata:
  name: redis
spec:
  selector:
    app: lumafin-redis
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379
